--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Author; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Author" (
    id_author integer NOT NULL,
    given_name character varying(255),
    family_name character varying(255),
    birthday character varying(255),
    website character varying(255),
    member_favorites integer,
    published_manga json,
    id_company integer,
    id_mentor integer
);


ALTER TABLE public."Author" OWNER TO postgres;

--
-- Name: Author_Phone; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Author_Phone" (
    id_author integer,
    phone_number character varying(255) NOT NULL
);


ALTER TABLE public."Author_Phone" OWNER TO postgres;

--
-- Name: Author_id_author_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Author_id_author_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Author_id_author_seq" OWNER TO postgres;

--
-- Name: Author_id_author_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Author_id_author_seq" OWNED BY public."Author".id_author;


--
-- Name: Character; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Character" (
    id_character integer NOT NULL,
    character_name character varying(255),
    role character varying(255),
    mangaography json,
    member_favorites integer,
    description text
);


ALTER TABLE public."Character" OWNER TO postgres;

--
-- Name: Character_id_character_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Character_id_character_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Character_id_character_seq" OWNER TO postgres;

--
-- Name: Character_id_character_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Character_id_character_seq" OWNED BY public."Character".id_character;


--
-- Name: Company; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Company" (
    id_company integer NOT NULL,
    company_name character varying(255)
);


ALTER TABLE public."Company" OWNER TO postgres;

--
-- Name: Company_id_company_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Company_id_company_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Company_id_company_seq" OWNER TO postgres;

--
-- Name: Company_id_company_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Company_id_company_seq" OWNED BY public."Company".id_company;


--
-- Name: Episode; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Episode" (
    id_episode integer NOT NULL,
    id_manhwa integer,
    no_episode integer,
    title_episode character varying(255),
    release_date character varying(255)
);


ALTER TABLE public."Episode" OWNER TO postgres;

--
-- Name: Episode_id_episode_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Episode_id_episode_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Episode_id_episode_seq" OWNER TO postgres;

--
-- Name: Episode_id_episode_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Episode_id_episode_seq" OWNED BY public."Episode".id_episode;


--
-- Name: Genre; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Genre" (
    id_genre integer NOT NULL,
    genre_name character varying(255),
    description text
);


ALTER TABLE public."Genre" OWNER TO postgres;

--
-- Name: Genre_id_genre_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Genre_id_genre_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Genre_id_genre_seq" OWNER TO postgres;

--
-- Name: Genre_id_genre_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Genre_id_genre_seq" OWNED BY public."Genre".id_genre;


--
-- Name: Illustrator; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Illustrator" (
    id_author integer NOT NULL,
    art_style character varying(255),
    software_tools character varying(255),
    portfolio_url character varying(255)
);


ALTER TABLE public."Illustrator" OWNER TO postgres;

--
-- Name: Kategori; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Kategori" (
    id_manhwa integer,
    id_genre integer
);


ALTER TABLE public."Kategori" OWNER TO postgres;

--
-- Name: Manhwa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Manhwa" (
    id_manhwa integer NOT NULL,
    title character varying(255),
    status character varying(255),
    serialization json,
    themes json,
    id_company integer
);


ALTER TABLE public."Manhwa" OWNER TO postgres;

--
-- Name: Manhwa_id_manhwa_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Manhwa_id_manhwa_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Manhwa_id_manhwa_seq" OWNER TO postgres;

--
-- Name: Manhwa_id_manhwa_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Manhwa_id_manhwa_seq" OWNED BY public."Manhwa".id_manhwa;


--
-- Name: Menulis; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Menulis" (
    id_manhwa integer,
    id_author integer
);


ALTER TABLE public."Menulis" OWNER TO postgres;

--
-- Name: Peran; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Peran" (
    id_manhwa integer,
    id_character integer
);


ALTER TABLE public."Peran" OWNER TO postgres;

--
-- Name: Rating; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Rating" (
    id_user integer,
    id_manhwa integer,
    rating numeric(3,2),
    date_rating character varying(255)
);


ALTER TABLE public."Rating" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id_user integer NOT NULL,
    username character varying(255),
    email character varying(255),
    gender character varying(255),
    birthday character varying(255)
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: User_id_user_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."User_id_user_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."User_id_user_seq" OWNER TO postgres;

--
-- Name: User_id_user_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."User_id_user_seq" OWNED BY public."User".id_user;


--
-- Name: Writer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Writer" (
    id_author integer NOT NULL,
    writing_style character varying(255),
    dominant_genre character varying(255)
);


ALTER TABLE public."Writer" OWNER TO postgres;

--
-- Name: Author id_author; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Author" ALTER COLUMN id_author SET DEFAULT nextval('public."Author_id_author_seq"'::regclass);


--
-- Name: Character id_character; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Character" ALTER COLUMN id_character SET DEFAULT nextval('public."Character_id_character_seq"'::regclass);


--
-- Name: Company id_company; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Company" ALTER COLUMN id_company SET DEFAULT nextval('public."Company_id_company_seq"'::regclass);


--
-- Name: Episode id_episode; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Episode" ALTER COLUMN id_episode SET DEFAULT nextval('public."Episode_id_episode_seq"'::regclass);


--
-- Name: Genre id_genre; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Genre" ALTER COLUMN id_genre SET DEFAULT nextval('public."Genre_id_genre_seq"'::regclass);


--
-- Name: Manhwa id_manhwa; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Manhwa" ALTER COLUMN id_manhwa SET DEFAULT nextval('public."Manhwa_id_manhwa_seq"'::regclass);


--
-- Name: User id_user; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User" ALTER COLUMN id_user SET DEFAULT nextval('public."User_id_user_seq"'::regclass);


--
-- Data for Name: Author; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Author_Phone; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Author_Phone" (id_author, phone_number) FROM stdin;
\.


--
-- Data for Name: Character; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Company; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Company" (id_company, company_name) FROM stdin;
1	Lezhin Comics Webtoon
2	comico
3	Chance+
4	Wink
5	KakaoPage
6	Comica
7	Toomics
8	Peanutoon
9	Naver Webtoon
10	Daum Webtoon
11	Young Champ
\.


--
-- Data for Name: Episode; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Episode" (id_episode, id_manhwa, no_episode, title_episode, release_date) FROM stdin;
\.


--
-- Data for Name: Genre; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Illustrator; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Illustrator" (id_author, art_style, software_tools, portfolio_url) FROM stdin;
\.


--
-- Data for Name: Kategori; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Kategori" (id_manhwa, id_genre) FROM stdin;
\.


--
-- Data for Name: Manhwa; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Menulis; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Menulis" (id_manhwa, id_author) FROM stdin;
\.


--
-- Data for Name: Peran; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Peran" (id_manhwa, id_character) FROM stdin;
\.


--
-- Data for Name: Rating; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Rating" (id_user, id_manhwa, rating, date_rating) FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id_user, username, email, gender, birthday) FROM stdin;
\.


--
-- Data for Name: Writer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Writer" (id_author, writing_style, dominant_genre) FROM stdin;
\.


--
-- Name: Author_id_author_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Author_id_author_seq"', 1, false);


--
-- Name: Character_id_character_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Character_id_character_seq"', 1, false);


--
-- Name: Company_id_company_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Company_id_company_seq"', 1, false);


--
-- Name: Episode_id_episode_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Episode_id_episode_seq"', 1, false);


--
-- Name: Genre_id_genre_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Genre_id_genre_seq"', 1, false);


--
-- Name: Manhwa_id_manhwa_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Manhwa_id_manhwa_seq"', 1, false);


--
-- Name: User_id_user_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."User_id_user_seq"', 1, false);


--
-- Name: Author_Phone Author_Phone_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Author_Phone"
    ADD CONSTRAINT "Author_Phone_pkey" PRIMARY KEY (phone_number);


--
-- Name: Author Author_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Author"
    ADD CONSTRAINT "Author_pkey" PRIMARY KEY (id_author);


--
-- Name: Character Character_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Character"
    ADD CONSTRAINT "Character_pkey" PRIMARY KEY (id_character);


--
-- Name: Company Company_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Company"
    ADD CONSTRAINT "Company_pkey" PRIMARY KEY (id_company);


--
-- Name: Episode Episode_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Episode"
    ADD CONSTRAINT "Episode_pkey" PRIMARY KEY (id_episode);


--
-- Name: Genre Genre_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Genre"
    ADD CONSTRAINT "Genre_pkey" PRIMARY KEY (id_genre);


--
-- Name: Illustrator Illustrator_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Illustrator"
    ADD CONSTRAINT "Illustrator_pkey" PRIMARY KEY (id_author);


--
-- Name: Manhwa Manhwa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Manhwa"
    ADD CONSTRAINT "Manhwa_pkey" PRIMARY KEY (id_manhwa);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id_user);


--
-- Name: Writer Writer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Writer"
    ADD CONSTRAINT "Writer_pkey" PRIMARY KEY (id_author);


--
-- Name: Author_Phone Author_Phone_id_author_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Author_Phone"
    ADD CONSTRAINT "Author_Phone_id_author_fkey" FOREIGN KEY (id_author) REFERENCES public."Author"(id_author);


--
-- Name: Author Author_id_company_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Author"
    ADD CONSTRAINT "Author_id_company_fkey" FOREIGN KEY (id_company) REFERENCES public."Company"(id_company);


--
-- Name: Author Author_id_mentor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Author"
    ADD CONSTRAINT "Author_id_mentor_fkey" FOREIGN KEY (id_mentor) REFERENCES public."Author"(id_author);


--
-- Name: Episode Episode_id_manhwa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Episode"
    ADD CONSTRAINT "Episode_id_manhwa_fkey" FOREIGN KEY (id_manhwa) REFERENCES public."Manhwa"(id_manhwa);


--
-- Name: Illustrator Illustrator_id_author_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Illustrator"
    ADD CONSTRAINT "Illustrator_id_author_fkey" FOREIGN KEY (id_author) REFERENCES public."Author"(id_author);


--
-- Name: Kategori Kategori_id_genre_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Kategori"
    ADD CONSTRAINT "Kategori_id_genre_fkey" FOREIGN KEY (id_genre) REFERENCES public."Genre"(id_genre);


--
-- Name: Kategori Kategori_id_manhwa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Kategori"
    ADD CONSTRAINT "Kategori_id_manhwa_fkey" FOREIGN KEY (id_manhwa) REFERENCES public."Manhwa"(id_manhwa);


--
-- Name: Manhwa Manhwa_id_company_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Manhwa"
    ADD CONSTRAINT "Manhwa_id_company_fkey" FOREIGN KEY (id_company) REFERENCES public."Company"(id_company);


--
-- Name: Menulis Menulis_id_author_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Menulis"
    ADD CONSTRAINT "Menulis_id_author_fkey" FOREIGN KEY (id_author) REFERENCES public."Author"(id_author);


--
-- Name: Menulis Menulis_id_manhwa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Menulis"
    ADD CONSTRAINT "Menulis_id_manhwa_fkey" FOREIGN KEY (id_manhwa) REFERENCES public."Manhwa"(id_manhwa);


--
-- Name: Peran Peran_id_character_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Peran"
    ADD CONSTRAINT "Peran_id_character_fkey" FOREIGN KEY (id_character) REFERENCES public."Character"(id_character);


--
-- Name: Peran Peran_id_manhwa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Peran"
    ADD CONSTRAINT "Peran_id_manhwa_fkey" FOREIGN KEY (id_manhwa) REFERENCES public."Manhwa"(id_manhwa);


--
-- Name: Rating Rating_id_manhwa_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rating"
    ADD CONSTRAINT "Rating_id_manhwa_fkey" FOREIGN KEY (id_manhwa) REFERENCES public."Manhwa"(id_manhwa);


--
-- Name: Rating Rating_id_user_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Rating"
    ADD CONSTRAINT "Rating_id_user_fkey" FOREIGN KEY (id_user) REFERENCES public."User"(id_user);


--
-- Name: Writer Writer_id_author_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Writer"
    ADD CONSTRAINT "Writer_id_author_fkey" FOREIGN KEY (id_author) REFERENCES public."Author"(id_author);


--
-- PostgreSQL database dump complete
--

