/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.8.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: seleksi_basdat
-- ------------------------------------------------------
-- Server version	11.8.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `artifact`
--

DROP TABLE IF EXISTS `artifact`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `artifact` (
  `name` varchar(100) NOT NULL,
  `2-piece bonus` text DEFAULT NULL,
  `4-piece bonus` text DEFAULT NULL,
  PRIMARY KEY (`name`),
  UNIQUE KEY `unique_artifact_name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `artifact`
--

LOCK TABLES `artifact` WRITE;
/*!40000 ALTER TABLE `artifact` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `artifact` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `artifact-rarity`
--

DROP TABLE IF EXISTS `artifact-rarity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `artifact-rarity` (
  `name` varchar(100) NOT NULL,
  `rarity` tinyint(4) NOT NULL,
  PRIMARY KEY (`name`,`rarity`),
  CONSTRAINT `fk_ar_artifact_name` FOREIGN KEY (`name`) REFERENCES `artifact` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `artifact-rarity`
--

LOCK TABLES `artifact-rarity` WRITE;
/*!40000 ALTER TABLE `artifact-rarity` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `artifact-rarity` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `boss`
--

DROP TABLE IF EXISTS `boss`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `boss` (
  `name` varchar(100) NOT NULL,
  `unique_drop` varchar(100) DEFAULT NULL,
  `region` varchar(100) DEFAULT NULL,
  `version_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`name`),
  UNIQUE KEY `uq_unique_drop` (`unique_drop`),
  KEY `fk_boss_version` (`version_id`),
  CONSTRAINT `fk_boss_version` FOREIGN KEY (`version_id`) REFERENCES `version` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `boss`
--

LOCK TABLES `boss` WRITE;
/*!40000 ALTER TABLE `boss` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `boss` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `character`
--

DROP TABLE IF EXISTS `character`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `character` (
  `name` varchar(100) NOT NULL,
  `rarity` tinyint(4) DEFAULT NULL,
  `element` varchar(50) DEFAULT NULL,
  `weapon_type` varchar(50) DEFAULT NULL,
  `region` varchar(50) DEFAULT NULL,
  `body_type` varchar(50) DEFAULT NULL,
  `gender` varchar(50) DEFAULT NULL,
  `birthday_month` tinyint(4) DEFAULT NULL,
  `birthday_day` tinyint(4) DEFAULT NULL,
  `ascension_stat` varchar(100) DEFAULT NULL,
  `base_HP` decimal(10,2) DEFAULT NULL,
  `base_ATK` decimal(10,2) DEFAULT NULL,
  `base_DEF` decimal(10,2) DEFAULT NULL,
  `burst_cost` tinyint(4) DEFAULT NULL,
  `ascension_material` varchar(100) DEFAULT NULL,
  `version_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`name`),
  UNIQUE KEY `unique_character_name` (`name`),
  KEY `fk_char_ascension_material` (`ascension_material`),
  KEY `fk_char_version` (`version_id`),
  CONSTRAINT `fk_char_version` FOREIGN KEY (`version_id`) REFERENCES `version` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `character`
--

LOCK TABLES `character` WRITE;
/*!40000 ALTER TABLE `character` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `character` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `domain`
--

DROP TABLE IF EXISTS `domain`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `domain` (
  `name` varchar(100) NOT NULL,
  `region` varchar(100) DEFAULT NULL,
  `version_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`name`),
  UNIQUE KEY `unique_domain_name` (`name`),
  KEY `fk_domain_version_id` (`version_id`),
  CONSTRAINT `fk_domain_version_id` FOREIGN KEY (`version_id`) REFERENCES `version` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `domain`
--

LOCK TABLES `domain` WRITE;
/*!40000 ALTER TABLE `domain` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `domain` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `domain-artifact`
--

DROP TABLE IF EXISTS `domain-artifact`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `domain-artifact` (
  `domain` varchar(100) NOT NULL,
  `artifact` varchar(100) NOT NULL,
  PRIMARY KEY (`domain`,`artifact`),
  KEY `fk_da_artifact` (`artifact`),
  CONSTRAINT `fk_da_artifact` FOREIGN KEY (`artifact`) REFERENCES `artifact` (`name`),
  CONSTRAINT `fk_da_domain` FOREIGN KEY (`domain`) REFERENCES `domain` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `domain-artifact`
--

LOCK TABLES `domain-artifact` WRITE;
/*!40000 ALTER TABLE `domain-artifact` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `domain-artifact` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `party`
--

DROP TABLE IF EXISTS `party`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `party` (
  `party_name` varchar(100) NOT NULL,
  `unit_id` int(11) NOT NULL,
  `slot_position` tinyint(4) DEFAULT NULL,
  PRIMARY KEY (`party_name`,`unit_id`),
  KEY `fk_party_unit` (`unit_id`),
  CONSTRAINT `fk_party_unit` FOREIGN KEY (`unit_id`) REFERENCES `unit` (`unit_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `party`
--

LOCK TABLES `party` WRITE;
/*!40000 ALTER TABLE `party` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `party` ENABLE KEYS */;
UNLOCK TABLES;
commit;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER cek_karakter_dalam_party
BEFORE INSERT ON Party
FOR EACH ROW
BEGIN
    DECLARE karakter_baru VARCHAR(100);
    DECLARE jumlah_duplikat INT;

    
    SELECT `character` INTO karakter_baru FROM Unit WHERE unit_id = NEW.unit_id;

    
    SELECT COUNT(*) INTO jumlah_duplikat 
    FROM Party p
    JOIN Unit u ON p.unit_id = u.unit_id
    WHERE p.party_name = NEW.party_name AND u.`character` = karakter_baru;

    
    IF jumlah_duplikat > 0 THEN
        SIGNAL SQLSTATE '45000' 
            SET MESSAGE_TEXT = 'Karakter ini sudah ada di dalam party!';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER cek_urutan_slot
BEFORE INSERT ON Party
FOR EACH ROW
BEGIN
    
    DECLARE jumlah_anggota INT;
    SET jumlah_anggota = (SELECT COUNT(*) FROM Party WHERE party_name = NEW.party_name);

    
    IF NEW.slot_position != jumlah_anggota + 1 OR NEW.slot_position > 4 THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'Posisi slot tidak valid atau tidak berurutan!';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER cek_slot_tetap_berurutan
BEFORE DELETE ON Party
FOR EACH ROW
BEGIN
    DECLARE jumlah_anggota_setelahnya INT;

    
    
    SELECT COUNT(*) INTO jumlah_anggota_setelahnya
    FROM Party
    WHERE party_name = OLD.party_name AND slot_position > OLD.slot_position;

    
    IF jumlah_anggota_setelahnya > 0 THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Hanya bisa menghapus karakter dari posisi slot terakhir!';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `unit`
--

DROP TABLE IF EXISTS `unit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `unit` (
  `unit_id` int(11) NOT NULL AUTO_INCREMENT,
  `character` varchar(100) NOT NULL,
  `weapon` varchar(100) NOT NULL,
  `artifact_set_1` varchar(100) DEFAULT NULL,
  `artifact_set_2` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`unit_id`),
  KEY `fk_unit_char` (`character`),
  KEY `fk_unit_weapon` (`weapon`),
  KEY `fk_unit_art1` (`artifact_set_1`),
  KEY `fk_unit_art2` (`artifact_set_2`),
  CONSTRAINT `fk_unit_art1` FOREIGN KEY (`artifact_set_1`) REFERENCES `artifact` (`name`),
  CONSTRAINT `fk_unit_art2` FOREIGN KEY (`artifact_set_2`) REFERENCES `artifact` (`name`),
  CONSTRAINT `fk_unit_char` FOREIGN KEY (`character`) REFERENCES `character` (`name`),
  CONSTRAINT `fk_unit_weapon` FOREIGN KEY (`weapon`) REFERENCES `weapon` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unit`
--

LOCK TABLES `unit` WRITE;
/*!40000 ALTER TABLE `unit` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `unit` ENABLE KEYS */;
UNLOCK TABLES;
commit;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER cek_tipe_senjata_sebelum_insert
BEFORE INSERT ON Unit
FOR EACH ROW
BEGIN
    DECLARE char_weapon_type VARCHAR(50);
    DECLARE weapon_type_actual VARCHAR(50);

    SELECT weapon_type INTO char_weapon_type FROM `Character` WHERE name = NEW.`character`;
    SELECT type INTO weapon_type_actual FROM Weapon WHERE name = NEW.weapon;

    
    IF char_weapon_type != weapon_type_actual THEN
        SIGNAL SQLSTATE '45000' 
            SET MESSAGE_TEXT = 'Tipe senjata tidak cocok dengan karakter!';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER cek_artefak_sebelum_insert
BEFORE INSERT ON Unit
FOR EACH ROW
BEGIN
    
    IF NEW.artifact_set_1 IS NULL AND NEW.artifact_set_2 IS NOT NULL THEN
        SIGNAL SQLSTATE '45000' 
            SET MESSAGE_TEXT = 'Tidak bisa mengisi artifact_set_2 jika artifact_set_1 kosong!';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER cek_tipe_senjata_sebelum_update
BEFORE UPDATE ON Unit
FOR EACH ROW
BEGIN
    DECLARE char_weapon_type VARCHAR(50);
    DECLARE weapon_type_actual VARCHAR(50);

    SELECT weapon_type INTO char_weapon_type FROM `Character` WHERE name = NEW.`character`;
    SELECT type INTO weapon_type_actual FROM Weapon WHERE name = NEW.weapon;

    IF char_weapon_type != weapon_type_actual THEN
        SIGNAL SQLSTATE '45000' 
            SET MESSAGE_TEXT = 'Tipe senjata tidak cocok dengan karakter!';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER cek_artefak_sebelum_update
BEFORE UPDATE ON Unit
FOR EACH ROW
BEGIN
    
    IF NEW.artifact_set_1 IS NULL AND NEW.artifact_set_2 IS NOT NULL THEN
        SIGNAL SQLSTATE '45000' 
            SET MESSAGE_TEXT = 'Tidak bisa mengisi artifact_set_2 jika artifact_set_1 kosong!';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `version`
--

DROP TABLE IF EXISTS `version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `version` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `major_version` tinyint(4) NOT NULL,
  `minor_version` tinyint(4) NOT NULL,
  `date` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_version` (`major_version`,`minor_version`)
) ENGINE=InnoDB AUTO_INCREMENT=861 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `version`
--

LOCK TABLES `version` WRITE;
/*!40000 ALTER TABLE `version` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `version` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `weapon`
--

DROP TABLE IF EXISTS `weapon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `weapon` (
  `name` varchar(100) NOT NULL,
  `type` varchar(50) DEFAULT NULL,
  `rarity` tinyint(4) DEFAULT NULL,
  `base_ATK` int(11) DEFAULT NULL,
  `secondary_stat` varchar(100) DEFAULT NULL,
  `secondary_stat_value` decimal(5,1) DEFAULT NULL,
  `version_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`name`),
  KEY `fk_weapon_version` (`version_id`),
  CONSTRAINT `fk_weapon_version` FOREIGN KEY (`version_id`) REFERENCES `version` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `weapon`
--

LOCK TABLES `weapon` WRITE;
/*!40000 ALTER TABLE `weapon` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `weapon` ENABLE KEYS */;
UNLOCK TABLES;
commit;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2025-08-08 19:03:57
