-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: cake_recipes_dw
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `dim_categories`
--

DROP TABLE IF EXISTS `dim_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dim_categories` (
  `category_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`category_id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dim_categories`
--

LOCK TABLES `dim_categories` WRITE;
/*!40000 ALTER TABLE `dim_categories` DISABLE KEYS */;
INSERT INTO `dim_categories` VALUES (1,'cake','Best cake recipes from Shugary Sweets','2025-08-08 04:16:37','2025-08-08 04:16:37');
/*!40000 ALTER TABLE `dim_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dim_ingredients`
--

DROP TABLE IF EXISTS `dim_ingredients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dim_ingredients` (
  `ingredient_id` int NOT NULL,
  `recipe_id` int NOT NULL,
  `quantity` decimal(10,2) DEFAULT NULL,
  `unit` varchar(50) DEFAULT NULL,
  `name` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`ingredient_id`,`recipe_id`),
  KEY `recipe_id` (`recipe_id`),
  KEY `idx_dim_ingredients_name` (`name`(255)),
  CONSTRAINT `dim_ingredients_ibfk_1` FOREIGN KEY (`recipe_id`) REFERENCES `dim_recipes` (`recipe_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dim_ingredients`
--

LOCK TABLES `dim_ingredients` WRITE;
/*!40000 ALTER TABLE `dim_ingredients` DISABLE KEYS */;
/*!40000 ALTER TABLE `dim_ingredients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dim_recipes`
--

DROP TABLE IF EXISTS `dim_recipes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dim_recipes` (
  `recipe_id` int NOT NULL,
  `url` text,
  `title` varchar(255) NOT NULL,
  `description` text,
  `scraped_at` varchar(128) DEFAULT NULL,
  `difficulty_level` varchar(50) DEFAULT NULL,
  `author` varchar(100) DEFAULT NULL,
  `image_url` text,
  `published_date` varchar(128) DEFAULT NULL,
  `ingredients_count` int DEFAULT NULL,
  `instructions_count` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`recipe_id`),
  KEY `idx_dim_recipes_title` (`title`),
  KEY `idx_dim_recipes_author` (`author`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dim_recipes`
--

LOCK TABLES `dim_recipes` WRITE;
/*!40000 ALTER TABLE `dim_recipes` DISABLE KEYS */;
/*!40000 ALTER TABLE `dim_recipes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fact_recipes`
--

DROP TABLE IF EXISTS `fact_recipes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fact_recipes` (
  `recipe_id` int NOT NULL,
  `category` varchar(100) DEFAULT NULL,
  `chill_time` int DEFAULT NULL,
  `prep_time` int DEFAULT NULL,
  `cook_time` int DEFAULT NULL,
  `servings` int DEFAULT NULL,
  `total_time` int DEFAULT NULL,
  `ingredients_count` int DEFAULT NULL,
  `instructions_count` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`recipe_id`),
  KEY `idx_fact_recipes_category` (`category`),
  KEY `idx_fact_recipes_prep_time` (`prep_time`),
  KEY `idx_fact_recipes_cook_time` (`cook_time`),
  KEY `idx_fact_recipes_total_time` (`total_time`),
  CONSTRAINT `fact_recipes_ibfk_1` FOREIGN KEY (`recipe_id`) REFERENCES `dim_recipes` (`recipe_id`) ON DELETE CASCADE,
  CONSTRAINT `fact_recipes_ibfk_2` FOREIGN KEY (`category`) REFERENCES `dim_categories` (`name`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fact_recipes`
--

LOCK TABLES `fact_recipes` WRITE;
/*!40000 ALTER TABLE `fact_recipes` DISABLE KEYS */;
/*!40000 ALTER TABLE `fact_recipes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-08 11:44:35
