--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: dim_author; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dim_author (
    author_id integer NOT NULL,
    author_name character varying(255) NOT NULL,
    given_name character varying(255),
    family_name character varying(255),
    birthday date,
    website character varying(255),
    member_favorites integer
);


ALTER TABLE public.dim_author OWNER TO postgres;

--
-- Name: dim_author_author_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dim_author_author_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dim_author_author_id_seq OWNER TO postgres;

--
-- Name: dim_author_author_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dim_author_author_id_seq OWNED BY public.dim_author.author_id;


--
-- Name: dim_character; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dim_character (
    character_id integer NOT NULL,
    character_name character varying(255) NOT NULL,
    role character varying(50),
    member_favorites integer
);


ALTER TABLE public.dim_character OWNER TO postgres;

--
-- Name: dim_character_character_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dim_character_character_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dim_character_character_id_seq OWNER TO postgres;

--
-- Name: dim_character_character_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dim_character_character_id_seq OWNED BY public.dim_character.character_id;


--
-- Name: dim_company; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dim_company (
    company_id integer NOT NULL,
    company_name character varying(255) NOT NULL,
    total_works integer
);


ALTER TABLE public.dim_company OWNER TO postgres;

--
-- Name: dim_company_company_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dim_company_company_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dim_company_company_id_seq OWNER TO postgres;

--
-- Name: dim_company_company_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dim_company_company_id_seq OWNED BY public.dim_company.company_id;


--
-- Name: dim_genre; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dim_genre (
    genre_id integer NOT NULL,
    genre_name character varying(255) NOT NULL,
    total_works integer,
    description text
);


ALTER TABLE public.dim_genre OWNER TO postgres;

--
-- Name: dim_genre_genre_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dim_genre_genre_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dim_genre_genre_id_seq OWNER TO postgres;

--
-- Name: dim_genre_genre_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dim_genre_genre_id_seq OWNED BY public.dim_genre.genre_id;


--
-- Name: dim_manhwa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dim_manhwa (
    manhwa_id integer NOT NULL,
    title character varying(255) NOT NULL,
    status character varying(50),
    serialization character varying(255),
    published_start_year integer,
    published_end_year integer
);


ALTER TABLE public.dim_manhwa OWNER TO postgres;

--
-- Name: dim_manhwa_manhwa_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dim_manhwa_manhwa_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dim_manhwa_manhwa_id_seq OWNER TO postgres;

--
-- Name: dim_manhwa_manhwa_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dim_manhwa_manhwa_id_seq OWNED BY public.dim_manhwa.manhwa_id;


--
-- Name: fact_manhwa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fact_manhwa (
    fact_id integer NOT NULL,
    manhwa_id integer,
    company_id integer,
    score numeric(4,2),
    chapters integer
);


ALTER TABLE public.fact_manhwa OWNER TO postgres;

--
-- Name: fact_manhwa_authors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fact_manhwa_authors (
    fact_author_id integer NOT NULL,
    manhwa_id integer,
    author_id integer
);


ALTER TABLE public.fact_manhwa_authors OWNER TO postgres;

--
-- Name: fact_manhwa_authors_fact_author_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fact_manhwa_authors_fact_author_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fact_manhwa_authors_fact_author_id_seq OWNER TO postgres;

--
-- Name: fact_manhwa_authors_fact_author_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fact_manhwa_authors_fact_author_id_seq OWNED BY public.fact_manhwa_authors.fact_author_id;


--
-- Name: fact_manhwa_characters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fact_manhwa_characters (
    fact_character_id integer NOT NULL,
    manhwa_id integer,
    character_id integer
);


ALTER TABLE public.fact_manhwa_characters OWNER TO postgres;

--
-- Name: fact_manhwa_characters_fact_character_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fact_manhwa_characters_fact_character_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fact_manhwa_characters_fact_character_id_seq OWNER TO postgres;

--
-- Name: fact_manhwa_characters_fact_character_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fact_manhwa_characters_fact_character_id_seq OWNED BY public.fact_manhwa_characters.fact_character_id;


--
-- Name: fact_manhwa_fact_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fact_manhwa_fact_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fact_manhwa_fact_id_seq OWNER TO postgres;

--
-- Name: fact_manhwa_fact_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fact_manhwa_fact_id_seq OWNED BY public.fact_manhwa.fact_id;


--
-- Name: fact_manhwa_genres; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fact_manhwa_genres (
    fact_genre_id integer NOT NULL,
    manhwa_id integer,
    genre_id integer
);


ALTER TABLE public.fact_manhwa_genres OWNER TO postgres;

--
-- Name: fact_manhwa_genres_fact_genre_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fact_manhwa_genres_fact_genre_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fact_manhwa_genres_fact_genre_id_seq OWNER TO postgres;

--
-- Name: fact_manhwa_genres_fact_genre_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fact_manhwa_genres_fact_genre_id_seq OWNED BY public.fact_manhwa_genres.fact_genre_id;


--
-- Name: dim_author author_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_author ALTER COLUMN author_id SET DEFAULT nextval('public.dim_author_author_id_seq'::regclass);


--
-- Name: dim_character character_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_character ALTER COLUMN character_id SET DEFAULT nextval('public.dim_character_character_id_seq'::regclass);


--
-- Name: dim_company company_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_company ALTER COLUMN company_id SET DEFAULT nextval('public.dim_company_company_id_seq'::regclass);


--
-- Name: dim_genre genre_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_genre ALTER COLUMN genre_id SET DEFAULT nextval('public.dim_genre_genre_id_seq'::regclass);


--
-- Name: dim_manhwa manhwa_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_manhwa ALTER COLUMN manhwa_id SET DEFAULT nextval('public.dim_manhwa_manhwa_id_seq'::regclass);


--
-- Name: fact_manhwa fact_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_manhwa ALTER COLUMN fact_id SET DEFAULT nextval('public.fact_manhwa_fact_id_seq'::regclass);


--
-- Name: fact_manhwa_authors fact_author_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_manhwa_authors ALTER COLUMN fact_author_id SET DEFAULT nextval('public.fact_manhwa_authors_fact_author_id_seq'::regclass);


--
-- Name: fact_manhwa_characters fact_character_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_manhwa_characters ALTER COLUMN fact_character_id SET DEFAULT nextval('public.fact_manhwa_characters_fact_character_id_seq'::regclass);


--
-- Name: fact_manhwa_genres fact_genre_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_manhwa_genres ALTER COLUMN fact_genre_id SET DEFAULT nextval('public.fact_manhwa_genres_fact_genre_id_seq'::regclass);


--
-- Data for Name: dim_author; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: dim_character; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: dim_company; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dim_company (company_id, company_name, total_works) FROM stdin;
1	Lezhin Comics Webtoon	874
2	comico	53
3	Chance+	3
4	Wink	60
5	KakaoPage	1722
6	Comica	2
7	Toomics	1
8	Peanutoon	4
9	Naver Webtoon	1578
10	Daum Webtoon	95
11	Young Champ	17
\.


--
-- Data for Name: dim_genre; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: dim_manhwa; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: fact_manhwa; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: fact_manhwa_authors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: fact_manhwa_characters; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: fact_manhwa_genres; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: dim_author_author_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dim_author_author_id_seq', 325, true);


--
-- Name: dim_character_character_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dim_character_character_id_seq', 4492, true);


--
-- Name: dim_company_company_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dim_company_company_id_seq', 33, true);


--
-- Name: dim_genre_genre_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dim_genre_genre_id_seq', 48, true);


--
-- Name: dim_manhwa_manhwa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dim_manhwa_manhwa_id_seq', 100, true);


--
-- Name: fact_manhwa_authors_fact_author_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fact_manhwa_authors_fact_author_id_seq', 159, true);


--
-- Name: fact_manhwa_characters_fact_character_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fact_manhwa_characters_fact_character_id_seq', 1796, true);


--
-- Name: fact_manhwa_fact_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fact_manhwa_fact_id_seq', 100, true);


--
-- Name: fact_manhwa_genres_fact_genre_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fact_manhwa_genres_fact_genre_id_seq', 234, true);


--
-- Name: dim_author dim_author_author_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_author
    ADD CONSTRAINT dim_author_author_name_key UNIQUE (author_name);


--
-- Name: dim_author dim_author_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_author
    ADD CONSTRAINT dim_author_pkey PRIMARY KEY (author_id);


--
-- Name: dim_character dim_character_character_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_character
    ADD CONSTRAINT dim_character_character_name_key UNIQUE (character_name);


--
-- Name: dim_character dim_character_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_character
    ADD CONSTRAINT dim_character_pkey PRIMARY KEY (character_id);


--
-- Name: dim_company dim_company_company_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_company
    ADD CONSTRAINT dim_company_company_name_key UNIQUE (company_name);


--
-- Name: dim_company dim_company_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_company
    ADD CONSTRAINT dim_company_pkey PRIMARY KEY (company_id);


--
-- Name: dim_genre dim_genre_genre_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_genre
    ADD CONSTRAINT dim_genre_genre_name_key UNIQUE (genre_name);


--
-- Name: dim_genre dim_genre_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_genre
    ADD CONSTRAINT dim_genre_pkey PRIMARY KEY (genre_id);


--
-- Name: dim_manhwa dim_manhwa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_manhwa
    ADD CONSTRAINT dim_manhwa_pkey PRIMARY KEY (manhwa_id);


--
-- Name: dim_manhwa dim_manhwa_title_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dim_manhwa
    ADD CONSTRAINT dim_manhwa_title_key UNIQUE (title);


--
-- Name: fact_manhwa_authors fact_manhwa_authors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_manhwa_authors
    ADD CONSTRAINT fact_manhwa_authors_pkey PRIMARY KEY (fact_author_id);


--
-- Name: fact_manhwa_characters fact_manhwa_characters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_manhwa_characters
    ADD CONSTRAINT fact_manhwa_characters_pkey PRIMARY KEY (fact_character_id);


--
-- Name: fact_manhwa_genres fact_manhwa_genres_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_manhwa_genres
    ADD CONSTRAINT fact_manhwa_genres_pkey PRIMARY KEY (fact_genre_id);


--
-- Name: fact_manhwa fact_manhwa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_manhwa
    ADD CONSTRAINT fact_manhwa_pkey PRIMARY KEY (fact_id);


--
-- Name: fact_manhwa_authors fact_manhwa_authors_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_manhwa_authors
    ADD CONSTRAINT fact_manhwa_authors_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.dim_author(author_id);


--
-- Name: fact_manhwa_authors fact_manhwa_authors_manhwa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_manhwa_authors
    ADD CONSTRAINT fact_manhwa_authors_manhwa_id_fkey FOREIGN KEY (manhwa_id) REFERENCES public.dim_manhwa(manhwa_id);


--
-- Name: fact_manhwa_characters fact_manhwa_characters_character_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_manhwa_characters
    ADD CONSTRAINT fact_manhwa_characters_character_id_fkey FOREIGN KEY (character_id) REFERENCES public.dim_character(character_id);


--
-- Name: fact_manhwa_characters fact_manhwa_characters_manhwa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_manhwa_characters
    ADD CONSTRAINT fact_manhwa_characters_manhwa_id_fkey FOREIGN KEY (manhwa_id) REFERENCES public.dim_manhwa(manhwa_id);


--
-- Name: fact_manhwa fact_manhwa_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_manhwa
    ADD CONSTRAINT fact_manhwa_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.dim_company(company_id);


--
-- Name: fact_manhwa_genres fact_manhwa_genres_genre_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_manhwa_genres
    ADD CONSTRAINT fact_manhwa_genres_genre_id_fkey FOREIGN KEY (genre_id) REFERENCES public.dim_genre(genre_id);


--
-- Name: fact_manhwa_genres fact_manhwa_genres_manhwa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_manhwa_genres
    ADD CONSTRAINT fact_manhwa_genres_manhwa_id_fkey FOREIGN KEY (manhwa_id) REFERENCES public.dim_manhwa(manhwa_id);


--
-- Name: fact_manhwa fact_manhwa_manhwa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fact_manhwa
    ADD CONSTRAINT fact_manhwa_manhwa_id_fkey FOREIGN KEY (manhwa_id) REFERENCES public.dim_manhwa(manhwa_id);


--
-- PostgreSQL database dump complete
--

