-- MySQL dump 10.13  Distrib 8.3.0, for Linux (x86_64)
--
-- Host: localhost    Database: spotify
-- ------------------------------------------------------
-- Server version	8.3.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Album`
--

DROP TABLE IF EXISTS `Album`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Album` (
  `album_id` varchar(255) NOT NULL,
  `artist_id` varchar(255) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `release_date` date DEFAULT NULL,
  `song_count` int DEFAULT NULL,
  `duration` int DEFAULT NULL,
  PRIMARY KEY (`album_id`),
  KEY `idx_album_artist` (`artist_id`),
  CONSTRAINT `Album_ibfk_1` FOREIGN KEY (`artist_id`) REFERENCES `Artist` (`artist_id`) ON DELETE SET NULL,
  CONSTRAINT `Album_chk_1` CHECK (((`title` <> _utf8mb4'') and (`title` is not null))),
  CONSTRAINT `Album_chk_2` CHECK ((`song_count` >= 0)),
  CONSTRAINT `Album_chk_3` CHECK ((`duration` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Album`
--

LOCK TABLES `Album` WRITE;
/*!40000 ALTER TABLE `Album` DISABLE KEYS */;
/*!40000 ALTER TABLE `Album` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `validate_album_release_date` BEFORE INSERT ON `Album` FOR EACH ROW BEGIN
    IF NEW.release_date > CURDATE() THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Album release date cannot be in the future';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `validate_album_release_date_update` BEFORE UPDATE ON `Album` FOR EACH ROW BEGIN
    IF NEW.release_date > CURDATE() THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Album release date cannot be in the future';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `Artist`
--

DROP TABLE IF EXISTS `Artist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Artist` (
  `artist_id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `status` enum('Verified','Not Verified') DEFAULT 'Not Verified',
  `monthly_listeners` int DEFAULT NULL,
  `followers_count` int DEFAULT NULL,
  PRIMARY KEY (`artist_id`),
  CONSTRAINT `Artist_chk_1` CHECK (((`name` <> _latin1'') and (`name` is not null))),
  CONSTRAINT `Artist_chk_2` CHECK ((`monthly_listeners` >= 0)),
  CONSTRAINT `Artist_chk_3` CHECK ((`followers_count` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Artist`
--

LOCK TABLES `Artist` WRITE;
/*!40000 ALTER TABLE `Artist` DISABLE KEYS */;
/*!40000 ALTER TABLE `Artist` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `sync_artist_update` AFTER UPDATE ON `Artist` FOR EACH ROW BEGIN
    -- Update monthly_listeners and followers_count in FactSpotify
    UPDATE FactSpotify 
    SET monthly_listeners = NEW.monthly_listeners,
        followers_count = NEW.followers_count
    WHERE artist_key = (SELECT artist_key FROM DimArtist WHERE artist_id = NEW.artist_id);
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `sync_artist_dimension_update` AFTER UPDATE ON `Artist` FOR EACH ROW BEGIN
    UPDATE DimArtist 
    SET name = NEW.name, status = NEW.status
    WHERE artist_id = NEW.artist_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `DimAlbum`
--

DROP TABLE IF EXISTS `DimAlbum`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DimAlbum` (
  `album_key` int NOT NULL AUTO_INCREMENT,
  `album_id` varchar(255) NOT NULL,
  `title` varchar(255) NOT NULL,
  `artist_key` int DEFAULT NULL,
  PRIMARY KEY (`album_key`),
  UNIQUE KEY `album_id` (`album_id`),
  KEY `artist_key` (`artist_key`),
  CONSTRAINT `DimAlbum_ibfk_1` FOREIGN KEY (`artist_key`) REFERENCES `DimArtist` (`artist_key`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DimAlbum`
--

LOCK TABLES `DimAlbum` WRITE;
/*!40000 ALTER TABLE `DimAlbum` DISABLE KEYS */;
/*!40000 ALTER TABLE `DimAlbum` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `prevent_album_delete` BEFORE DELETE ON `DimAlbum` FOR EACH ROW BEGIN
    DECLARE fact_count INT DEFAULT 0;
    
    SELECT COUNT(*) INTO fact_count 
    FROM FactSpotify 
    WHERE album_key = OLD.album_key;
    
    IF fact_count > 0 THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Cannot delete album - referenced by fact records';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `DimArtist`
--

DROP TABLE IF EXISTS `DimArtist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DimArtist` (
  `artist_key` int NOT NULL AUTO_INCREMENT,
  `artist_id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `status` enum('Verified','Not Verified') DEFAULT 'Not Verified',
  PRIMARY KEY (`artist_key`),
  UNIQUE KEY `artist_id` (`artist_id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DimArtist`
--

LOCK TABLES `DimArtist` WRITE;
/*!40000 ALTER TABLE `DimArtist` DISABLE KEYS */;
/*!40000 ALTER TABLE `DimArtist` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `prevent_artist_delete` BEFORE DELETE ON `DimArtist` FOR EACH ROW BEGIN
    DECLARE fact_count INT DEFAULT 0;
    
    SELECT COUNT(*) INTO fact_count 
    FROM FactSpotify 
    WHERE artist_key = OLD.artist_key;
    
    IF fact_count > 0 THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Cannot delete artist - referenced by fact records';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `DimDate`
--

DROP TABLE IF EXISTS `DimDate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DimDate` (
  `date_key` int NOT NULL,
  `year` int NOT NULL,
  `month` int NOT NULL,
  `day` int NOT NULL,
  PRIMARY KEY (`date_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DimDate`
--

LOCK TABLES `DimDate` WRITE;
/*!40000 ALTER TABLE `DimDate` DISABLE KEYS */;
INSERT INTO `DimDate` VALUES (19741005,1974,10,5),(19970702,1997,7,2),(20010718,2001,7,18),(20030521,2003,5,21),(20040825,2004,8,25),(20040929,2004,9,29),(20041119,2004,11,19),(20140716,2014,7,16),(20180715,2018,7,15),(20190308,2019,3,8),(20230717,2023,7,17),(20230809,2023,8,9),(20240131,2024,1,31),(20240621,2024,6,21),(20240823,2024,8,23),(20241122,2024,11,22),(20250620,2025,6,20),(20250630,2025,6,30),(20250704,2025,7,4),(20250706,2025,7,6),(20250711,2025,7,11),(20250716,2025,7,16),(20250725,2025,7,25),(20250730,2025,7,30),(20250731,2025,7,31),(20250801,2025,8,1),(20250808,2025,8,8);
/*!40000 ALTER TABLE `DimDate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DimGenre`
--

DROP TABLE IF EXISTS `DimGenre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DimGenre` (
  `genre_key` int NOT NULL AUTO_INCREMENT,
  `genre_id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`genre_key`),
  UNIQUE KEY `genre_id` (`genre_id`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DimGenre`
--

LOCK TABLES `DimGenre` WRITE;
/*!40000 ALTER TABLE `DimGenre` DISABLE KEYS */;
/*!40000 ALTER TABLE `DimGenre` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `prevent_genre_delete` BEFORE DELETE ON `DimGenre` FOR EACH ROW BEGIN
    DECLARE fact_count INT DEFAULT 0;
    
    SELECT COUNT(*) INTO fact_count 
    FROM FactSpotify 
    WHERE genre_key = OLD.genre_key;
    
    IF fact_count > 0 THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Cannot delete genre - referenced by fact records';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `DimPlaylist`
--

DROP TABLE IF EXISTS `DimPlaylist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DimPlaylist` (
  `playlist_key` int NOT NULL AUTO_INCREMENT,
  `playlist_id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `type` enum('Public Playlist','Private Playlist') DEFAULT NULL,
  `genre_key` int DEFAULT NULL,
  `user_key` int DEFAULT NULL,
  PRIMARY KEY (`playlist_key`),
  UNIQUE KEY `playlist_id` (`playlist_id`),
  KEY `genre_key` (`genre_key`),
  KEY `user_key` (`user_key`),
  CONSTRAINT `DimPlaylist_ibfk_1` FOREIGN KEY (`genre_key`) REFERENCES `DimGenre` (`genre_key`),
  CONSTRAINT `DimPlaylist_ibfk_2` FOREIGN KEY (`user_key`) REFERENCES `DimUser` (`user_key`)
) ENGINE=InnoDB AUTO_INCREMENT=1461 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DimPlaylist`
--

LOCK TABLES `DimPlaylist` WRITE;
/*!40000 ALTER TABLE `DimPlaylist` DISABLE KEYS */;
/*!40000 ALTER TABLE `DimPlaylist` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `prevent_playlist_delete` BEFORE DELETE ON `DimPlaylist` FOR EACH ROW BEGIN
    DECLARE fact_count INT DEFAULT 0;
    
    SELECT COUNT(*) INTO fact_count 
    FROM FactSpotify 
    WHERE playlist_key = OLD.playlist_key;
    
    IF fact_count > 0 THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Cannot delete playlist - referenced by fact records';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `DimSong`
--

DROP TABLE IF EXISTS `DimSong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DimSong` (
  `song_key` int NOT NULL AUTO_INCREMENT,
  `album_id` varchar(255) NOT NULL,
  `track_order` int NOT NULL,
  `title` varchar(255) NOT NULL,
  `album_key` int DEFAULT NULL,
  PRIMARY KEY (`song_key`),
  UNIQUE KEY `unique_song` (`album_id`,`track_order`),
  KEY `album_key` (`album_key`),
  CONSTRAINT `DimSong_ibfk_1` FOREIGN KEY (`album_key`) REFERENCES `DimAlbum` (`album_key`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DimSong`
--

LOCK TABLES `DimSong` WRITE;
/*!40000 ALTER TABLE `DimSong` DISABLE KEYS */;
/*!40000 ALTER TABLE `DimSong` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `prevent_song_delete` BEFORE DELETE ON `DimSong` FOR EACH ROW BEGIN
    DECLARE fact_count INT DEFAULT 0;
    
    SELECT COUNT(*) INTO fact_count 
    FROM FactSpotify 
    WHERE song_key = OLD.song_key;
    
    IF fact_count > 0 THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Cannot delete song - referenced by fact records';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `DimUser`
--

DROP TABLE IF EXISTS `DimUser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DimUser` (
  `user_key` int NOT NULL AUTO_INCREMENT,
  `user_id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `status` enum('Verified','Not Verified') DEFAULT 'Not Verified',
  PRIMARY KEY (`user_key`),
  UNIQUE KEY `user_id` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DimUser`
--

LOCK TABLES `DimUser` WRITE;
/*!40000 ALTER TABLE `DimUser` DISABLE KEYS */;
/*!40000 ALTER TABLE `DimUser` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `prevent_user_delete` BEFORE DELETE ON `DimUser` FOR EACH ROW BEGIN
    DECLARE fact_count INT DEFAULT 0;
    
    SELECT COUNT(*) INTO fact_count 
    FROM FactSpotify 
    WHERE user_key = OLD.user_key;
    
    IF fact_count > 0 THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Cannot delete user - referenced by fact records';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `FactSpotify`
--

DROP TABLE IF EXISTS `FactSpotify`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `FactSpotify` (
  `fact_key` bigint NOT NULL AUTO_INCREMENT,
  `date_key` int DEFAULT NULL,
  `genre_key` int DEFAULT NULL,
  `artist_key` int DEFAULT NULL,
  `album_key` int DEFAULT NULL,
  `song_key` int DEFAULT NULL,
  `playlist_key` int DEFAULT NULL,
  `user_key` int DEFAULT NULL,
  `save_count` int DEFAULT '0',
  `song_count` int DEFAULT '0',
  `followers_count` int DEFAULT '0',
  `monthly_listeners` int DEFAULT '0',
  `play_count` bigint DEFAULT '0',
  `duration` int DEFAULT '0',
  PRIMARY KEY (`fact_key`),
  KEY `idx_fact_date` (`date_key`),
  KEY `idx_fact_genre` (`genre_key`),
  KEY `idx_fact_artist` (`artist_key`),
  KEY `idx_fact_album` (`album_key`),
  KEY `idx_fact_song` (`song_key`),
  KEY `idx_fact_playlist` (`playlist_key`),
  KEY `idx_fact_user` (`user_key`),
  CONSTRAINT `FactSpotify_ibfk_1` FOREIGN KEY (`date_key`) REFERENCES `DimDate` (`date_key`),
  CONSTRAINT `FactSpotify_ibfk_2` FOREIGN KEY (`genre_key`) REFERENCES `DimGenre` (`genre_key`),
  CONSTRAINT `FactSpotify_ibfk_3` FOREIGN KEY (`artist_key`) REFERENCES `DimArtist` (`artist_key`),
  CONSTRAINT `FactSpotify_ibfk_4` FOREIGN KEY (`album_key`) REFERENCES `DimAlbum` (`album_key`),
  CONSTRAINT `FactSpotify_ibfk_5` FOREIGN KEY (`song_key`) REFERENCES `DimSong` (`song_key`),
  CONSTRAINT `FactSpotify_ibfk_6` FOREIGN KEY (`playlist_key`) REFERENCES `DimPlaylist` (`playlist_key`),
  CONSTRAINT `FactSpotify_ibfk_7` FOREIGN KEY (`user_key`) REFERENCES `DimUser` (`user_key`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `FactSpotify`
--

LOCK TABLES `FactSpotify` WRITE;
/*!40000 ALTER TABLE `FactSpotify` DISABLE KEYS */;
/*!40000 ALTER TABLE `FactSpotify` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `validate_fact_measures` BEFORE INSERT ON `FactSpotify` FOR EACH ROW BEGIN
    -- Ensure date_key is valid format (YYYYMMDD)
    IF NEW.date_key IS NOT NULL AND (NEW.date_key < 19700101 OR NEW.date_key > 21001231) THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Invalid date_key format. Must be YYYYMMDD between 1970-2100';
    END IF;
    
    -- Ensure measures are not negative
    IF NEW.save_count < 0 OR NEW.song_count < 0 OR NEW.followers_count < 0 OR 
       NEW.monthly_listeners < 0 OR NEW.play_count < 0 OR NEW.duration < 0 THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Measures cannot be negative';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `Genre`
--

DROP TABLE IF EXISTS `Genre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Genre` (
  `genre_id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`genre_id`),
  CONSTRAINT `Genre_chk_1` CHECK (((`name` <> _latin1'') and (`name` is not null)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Genre`
--

LOCK TABLES `Genre` WRITE;
/*!40000 ALTER TABLE `Genre` DISABLE KEYS */;
/*!40000 ALTER TABLE `Genre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Playlist`
--

DROP TABLE IF EXISTS `Playlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Playlist` (
  `playlist_id` varchar(255) NOT NULL,
  `genre_id` varchar(255) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `save_count` int DEFAULT NULL,
  `song_count` int DEFAULT NULL,
  `duration` int DEFAULT NULL,
  `type` enum('Public Playlist','Private Playlist') NOT NULL,
  `description` text,
  `creator_id` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`playlist_id`),
  KEY `idx_playlist_genre` (`genre_id`),
  KEY `idx_playlist_creator` (`creator_id`),
  CONSTRAINT `Playlist_ibfk_1` FOREIGN KEY (`genre_id`) REFERENCES `Genre` (`genre_id`) ON DELETE SET NULL,
  CONSTRAINT `Playlist_ibfk_2` FOREIGN KEY (`creator_id`) REFERENCES `User` (`user_id`) ON DELETE SET NULL,
  CONSTRAINT `Playlist_chk_1` CHECK (((`name` <> _utf8mb4'') and (`name` is not null))),
  CONSTRAINT `Playlist_chk_2` CHECK ((`save_count` >= 0)),
  CONSTRAINT `Playlist_chk_3` CHECK ((`song_count` >= 0)),
  CONSTRAINT `Playlist_chk_4` CHECK ((`duration` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Playlist`
--

LOCK TABLES `Playlist` WRITE;
/*!40000 ALTER TABLE `Playlist` DISABLE KEYS */;
/*!40000 ALTER TABLE `Playlist` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `sync_playlist_update` AFTER UPDATE ON `Playlist` FOR EACH ROW BEGIN
    -- Update save_count and song_count in FactSpotify
    UPDATE FactSpotify 
    SET save_count = NEW.save_count,
        song_count = NEW.song_count
    WHERE playlist_key = (SELECT playlist_key FROM DimPlaylist WHERE playlist_id = NEW.playlist_id);
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `sync_playlist_dimension_update` AFTER UPDATE ON `Playlist` FOR EACH ROW BEGIN
    UPDATE DimPlaylist 
    SET name = NEW.name, type = NEW.type
    WHERE playlist_id = NEW.playlist_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `Playlist_Song`
--

DROP TABLE IF EXISTS `Playlist_Song`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Playlist_Song` (
  `playlist_id` varchar(255) NOT NULL,
  `album_id` varchar(255) NOT NULL,
  `track_order` int NOT NULL,
  `added_date` date DEFAULT NULL,
  PRIMARY KEY (`playlist_id`,`album_id`,`track_order`),
  KEY `idx_playlist_song_playlist` (`playlist_id`),
  KEY `idx_playlist_song_song` (`album_id`,`track_order`),
  CONSTRAINT `Playlist_Song_ibfk_1` FOREIGN KEY (`playlist_id`) REFERENCES `Playlist` (`playlist_id`) ON DELETE CASCADE,
  CONSTRAINT `Playlist_Song_ibfk_2` FOREIGN KEY (`album_id`, `track_order`) REFERENCES `Song` (`album_id`, `track_order`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Playlist_Song`
--

LOCK TABLES `Playlist_Song` WRITE;
/*!40000 ALTER TABLE `Playlist_Song` DISABLE KEYS */;
/*!40000 ALTER TABLE `Playlist_Song` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `update_playlist_song_count_after_insert` AFTER INSERT ON `Playlist_Song` FOR EACH ROW BEGIN
    UPDATE Playlist 
    SET song_count = song_count + 1
    WHERE playlist_id = NEW.playlist_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `update_playlist_song_count_after_delete` AFTER DELETE ON `Playlist_Song` FOR EACH ROW BEGIN
    UPDATE Playlist 
    SET song_count = song_count - 1
    WHERE playlist_id = OLD.playlist_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `Song`
--

DROP TABLE IF EXISTS `Song`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Song` (
  `album_id` varchar(255) NOT NULL,
  `track_order` int NOT NULL,
  `title` varchar(255) NOT NULL,
  `release_date` date DEFAULT NULL,
  `play_count` bigint DEFAULT NULL,
  `duration` int DEFAULT NULL,
  PRIMARY KEY (`album_id`,`track_order`),
  KEY `idx_song_album` (`album_id`),
  CONSTRAINT `Song_ibfk_1` FOREIGN KEY (`album_id`) REFERENCES `Album` (`album_id`) ON DELETE CASCADE,
  CONSTRAINT `Song_chk_1` CHECK (((`title` <> _utf8mb4'') and (`title` is not null))),
  CONSTRAINT `Song_chk_2` CHECK ((`play_count` >= 0)),
  CONSTRAINT `Song_chk_3` CHECK ((`duration` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Song`
--

LOCK TABLES `Song` WRITE;
/*!40000 ALTER TABLE `Song` DISABLE KEYS */;
/*!40000 ALTER TABLE `Song` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `validate_track_order_before_insert` BEFORE INSERT ON `Song` FOR EACH ROW BEGIN
    DECLARE max_track INT DEFAULT 0;
    
    IF NEW.track_order <= 0 THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Track order must be greater than 0';
    END IF;
    
    SELECT COALESCE(MAX(track_order), 0) INTO max_track 
    FROM Song 
    WHERE album_id = NEW.album_id;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `validate_song_release_date` BEFORE INSERT ON `Song` FOR EACH ROW BEGIN
    DECLARE album_release_date DATE;
    
    IF NEW.release_date > CURDATE() THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Song release date cannot be in the future';
    END IF;
    
    SELECT release_date INTO album_release_date 
    FROM Album 
    WHERE album_id = NEW.album_id;
    
    IF NEW.release_date < album_release_date THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Song release date cannot be before album release date';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `update_album_song_count_after_insert` AFTER INSERT ON `Song` FOR EACH ROW BEGIN
    UPDATE Album 
    SET song_count = song_count + 1,
        duration = duration + NEW.duration
    WHERE album_id = NEW.album_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `validate_song_release_date_update` BEFORE UPDATE ON `Song` FOR EACH ROW BEGIN
    DECLARE album_release_date DATE;
    
    IF NEW.release_date > CURDATE() THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Song release date cannot be in the future';
    END IF;
    
    SELECT release_date INTO album_release_date 
    FROM Album 
    WHERE album_id = NEW.album_id;
    
    IF NEW.release_date < album_release_date THEN
        SIGNAL SQLSTATE '45000' 
        SET MESSAGE_TEXT = 'Song release date cannot be before album release date';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `sync_song_update` AFTER UPDATE ON `Song` FOR EACH ROW BEGIN
    -- Update play_count and duration in FactSpotify
    UPDATE FactSpotify 
    SET play_count = NEW.play_count,
        duration = NEW.duration
    WHERE song_key = (SELECT song_key FROM DimSong WHERE album_id = NEW.album_id AND track_order = NEW.track_order);
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `sync_song_dimension_update` AFTER UPDATE ON `Song` FOR EACH ROW BEGIN
    UPDATE DimSong 
    SET title = NEW.title
    WHERE album_id = NEW.album_id AND track_order = NEW.track_order;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `update_album_song_count_after_update` AFTER UPDATE ON `Song` FOR EACH ROW BEGIN
    IF OLD.album_id != NEW.album_id THEN
        UPDATE Album 
        SET song_count = song_count - 1,
            duration = duration - OLD.duration
        WHERE album_id = OLD.album_id;
        
        UPDATE Album 
        SET song_count = song_count + 1,
            duration = duration + NEW.duration
        WHERE album_id = NEW.album_id;
    ELSE
        UPDATE Album 
        SET duration = duration - OLD.duration + NEW.duration
        WHERE album_id = NEW.album_id;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `update_album_song_count_after_delete` AFTER DELETE ON `Song` FOR EACH ROW BEGIN
    UPDATE Album 
    SET song_count = song_count - 1,
        duration = duration - OLD.duration
    WHERE album_id = OLD.album_id;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `Song_Artist`
--

DROP TABLE IF EXISTS `Song_Artist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Song_Artist` (
  `artist_id` varchar(255) NOT NULL,
  `album_id` varchar(255) NOT NULL,
  `track_order` int NOT NULL,
  PRIMARY KEY (`artist_id`,`album_id`,`track_order`),
  KEY `idx_song_artist_artist` (`artist_id`),
  KEY `idx_song_artist_song` (`album_id`,`track_order`),
  CONSTRAINT `Song_Artist_ibfk_1` FOREIGN KEY (`artist_id`) REFERENCES `Artist` (`artist_id`) ON DELETE CASCADE,
  CONSTRAINT `Song_Artist_ibfk_2` FOREIGN KEY (`album_id`, `track_order`) REFERENCES `Song` (`album_id`, `track_order`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Song_Artist`
--

LOCK TABLES `Song_Artist` WRITE;
/*!40000 ALTER TABLE `Song_Artist` DISABLE KEYS */;
/*!40000 ALTER TABLE `Song_Artist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `User`
--

DROP TABLE IF EXISTS `User`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `User` (
  `user_id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `status` enum('Verified','Not Verified') DEFAULT 'Not Verified',
  `followers_count` int DEFAULT NULL,
  `following_count` int DEFAULT NULL,
  `public_playlist_count` int DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  CONSTRAINT `User_chk_1` CHECK (((`name` <> _latin1'') and (`name` is not null))),
  CONSTRAINT `User_chk_2` CHECK ((`followers_count` >= 0)),
  CONSTRAINT `User_chk_3` CHECK ((`following_count` >= 0)),
  CONSTRAINT `User_chk_4` CHECK ((`public_playlist_count` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `User`
--

LOCK TABLES `User` WRITE;
/*!40000 ALTER TABLE `User` DISABLE KEYS */;
/*!40000 ALTER TABLE `User` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-08 11:55:15
